{{> head}}
{{> header}}

    <main>
        <h1>This is a header</h1>
        <section>
            {{#each data}}
              <img src='https://image.tmdb.org/t/p/w500/{{this.backdrop_path}}' alt='backdrop image for {{this.title}}'>
              <p>{{this.title}}</p>
              <p>{{this.release_date}}</p>
              <p>{{this.overview}}</p>
            {{/each}}
        </section>
    </main>

{{> footer}}